/* the --color-header and others are CSS variables, which we access later. 
*/

body {
    color: #eee;
    background: #121212;
}

/* For flashed messages; make them stand out using red and italics */

#messages {
    color: var(--color-hilite);
    font-style: italic;
}


h1 {
    font-size: 200%;
    color: var(--color-header);
}

h2, h3 {
    color: var(--color-header);
}
    

/* for the top navbar.\ */
* {box-sizing: border-box;}
/* Style the navbar */
.topnav {
    overflow: hidden;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    background-color: #333;
}
/* Navbar links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
/* Navbar links on mouse-over */
.topnav a:hover {
    background-color: #ddd;
    color: #3700B3;
}
/* Active/current link */
.topnav a.active {
    background-color:#BB86FC;
    color:white;
    font-weight: bold;
}
/* Style the search container */
.topnav .search-container {
    float: right;
}
/* Style the dropdown selection field inside the navbar */
.topnav .search-container select {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    width: 170px;
}
/* Style the text input field inside the navbar */
.topnav .search-container input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 19px;
    border: none;
    width: 260px;
}
/* Style the submit button inside the search container */
.topnav .search-container input[type=submit] {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background:#BB86FC;
    color:white;
    font-size: 19px;
    font-weight:150;
    border: none;
    cursor: pointer;
}
.topnav .search-container input[type=submit]:hover {
    background: #ccc;
}

/* For login screen */
* {
    box-sizing: border-box;
}
*:focus {
    outline: none;
}
body {
    font-family: Arial;
    background-color: #E55423;
    padding: 50px;
}
.login {
    margin: 20px auto;
    width: 300px;
}
.login-screen {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px
}
.app-title {
    text-align: center;
    color: #777;
}
.login-form {
    text-align: center;
}
.control-group {
    margin-bottom: 10px;
}
input {
    text-align: center;
    background-color: #ECF0F1;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 250px;
    transition: border .5s;
}
input:focus {
    border: 2px solid #3498DB;
    box-shadow: none;
}
.btn {
    border: 2px solid transparent;
    background: #E55423;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: 250px;
    margin: 0 auto;
}
.btn:hover {
    background-color: #E55423;
}
.login-link {
    font-size: 12px;
    color: #444;
    display: block;
    margin-top: 12px;
}  