<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <!-- for mobile-friendly pages -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name=author content="Mingyan Claire Tian">
    <title>{{ page_title }}</title>
    <!-- link rel='stylesheet' href="{{url_for('static', filename = 'style.css')}}" -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/3.0.0/css/ionicons.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/theme.css" />
    <link rel="stylesheet" href="/static/template.css" />
    {% block head_stuff %} {% endblock %}
</head>
<body data-spy="scroll" data-target="#navbar1" data-offset="60">
  {% block nav %}
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary" id="navbar1">
        <div class="container">
            <a class="navbar-brand mr-1 mb-1 mt-0" href="{{ url_for('index') }}">KARD</a>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('index') }}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('buy') }}">Buy</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('sell') }}">Sell</a>
              </li>
            </ul>
            <div class="navbar-collapse collapse justify-content-center" id="collapsingNavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                      <a class="nav-link active">Logged in as <span id="login_uid">{{usrname}} (UID: {{uid}})</span></a> 
                    </li>
                </ul>
            </div>
        </div>
    </nav> 
  {% endblock %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<div id="messages">
  {% for msg in messages %}
  <!-- <p>{{msg}}</p> -->
    <div class="alert alert-primary alert-dismissable show fade" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>Message: </strong> {{msg}}
    </div>
  {% endfor %}
</div>
{% endif %}
{% endwith %}

{% block main_content %}

{% endblock %}

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  {% block end_scripts %}
  {% endblock %}
  
</body>
</html>
