{% extends "base.html" %}

{% block main_content %}
<!--
<h1> Hii</h1>
<form method=POST action="{{url_for('buy_group', gid = gid)}}">
    <label for="album">Available Albums:</label>
    <select id="album" name="album">
      <option value="none">Choose One</option>
      {% for album in albums %}
        <option value="{{album['aid']}}">{{album['name']}}</option>
       {% endfor %}
    </select>
    <input type="submit" name="submit-btn" value="Confirm">
</form>
-->
<p>
<section id="forms" class="container pb-5">
  <h1>Buy album</h1>
  <div class="row">
    <div class="col-md-12">
      <form method=POST action="{{url_for('buy_group', gid = gid)}}">
        <div class="form-group row">
          <label class="col-lg-4 col-form-label form-control-label text-muted" for="album">Available Albums:</label>
          <div class="col-lg-4">
            <select class="form-control" id="album" name="album">
              <option value="none">Choose One</option>
              {% for album in albums %}
                <option value="{{album['aid']}}">{{album['name']}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-lg-4">
            <input type="submit" class="btn btn-primary mr-2" value="Confirm">
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}