{% extends "base.html" %}

{% block main_content %}

<header class="bg-primary">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12">
                <div class="text-center m-0 vh-100 d-flex flex-column justify-content-center text-light">
                    <h1 class="display-4">Welcome to KARD</h1>
                    <p class="lead">Kard For K-poppers: Mini-Card Exchange Platform</p>
                    <!--div class="row"-->
                        <!--div class="col-lg-4 col-sm-6 mx-auto"-->
                            <!--div class="input-group mb-3"-->
                              <!--input type="text" class="form-control form-control-lg" placeholder="your@email"-->
                              <!--div class="input-group-append"-->
                                <!--button class="btn btn-outline-light btn-lg rounded-right" type="button">Sign-up</button-->
                              <!--/div-->
                            <!--/div-->
                        <!--/div-->
                    <!--/div-->
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}