{% extends "base.html" %}

{% block main_content %}

<h1> Hii</h1>
<form method=POST action="{{url_for('sell_group', gid = gid)}}">
    <label for="album">Which album does this card belong to?</label>
    <select id="album" name="album">
      <option value="none">Choose One</option>
      {% for album in albums %}
        <option value="{{album['aid']}}">{{album['name']}}</option>
       {% endfor %}
    </select>
    <p>
    <label for="idol">Which idol does this card belong to?</label>

    <select id="idol" name="idol">
      <option value="none">Choose One</option>
      {% for idol in idols %}
        <option value="{{idol['idid']}}">{{idol['name']}}</option>
       {% endfor %}
    </select>
  </p>
    <input type="submit" name="submit-btn" value="Confirm">
</form>
{% endblock %}